/* CSS de la page inscription.html */

body{
    margin: 0;
}

/*Gestion du placement et de la taille des différents éléments */
#sign-in-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20%;
    border: 1px solid;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
}

form > input, #valid-section{
    margin-bottom: 5%;
}

form > input{
    width: 250px;
}